/* ThickBox styles - modified for TalkBack */


/* Next/Prev slideshow links at bottom left of window */
#TB_next {
	background: url(/talkback/images/right-arrow.gif) right bottom no-repeat;
	padding-right: 10px;
}
#TB_prev {
	background: url(/talkback/images/left-arrow.gif) left bottom no-repeat;
	padding-left: 5px;
}
#TB_ImageCount {
	padding-right: 10px;
}

/* Title bar at top of the window, used for inline content and Iframe content */
#TB_title{
	background: url(/talkback/images/TBbg.gif) ;
}
	
/* Used for inline content */
.TB-inline {
	display: none;
	overflow: auto;
	}
	
/* For the title itself at top left of the window, used for inline content and Iframe content */
#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
	font-weight: bold;
	font-size: .85em;
	color: #000;
}

/* For the close link at top right of the window, inline and Iframes */
#TB_closeAjaxWindow a:link {color: #000;}
#TB_closeAjaxWindow a:visited {color: #000;}
#TB_closeAjaxWindow a:hover {font-weight: bold;}
#TB_closeAjaxWindow a:active {color: #000;}
#TB_closeAjaxWindow a:focus{color: #000;}

/* For the close link at bottom right of the window, for images/galleries */
#TB_closeWindow a:link {color: #666;}
#TB_closeWindow a:visited {color: #666;}
#TB_closeWindow a:hover {color: #666; font-weight: bold;}
#TB_closeWindow a:active {color: #666;}
#TB_closeWindow a:focus{color: #666;}

/* prev/next links at bottom left the window, for images/galleries */
#TB_prev a:link {color: #666;}
#TB_prev a:visited {color: #666;}
#TB_prev a:hover {font-weight: bold;}
#TB_prev a:active {color: #666;}
#TB_prev a:focus{color: #666;}

#TB_next a:link {color: #666;}
#TB_next a:visited {color: #666;}
#TB_next a:hover {font-weight: bold;}
#TB_next a:active {color: #666;}
#TB_next a:focus{color: #666;}

/* The background behind the window */
#TB_overlay {
	position: absolute;
	z-index:100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	min-height:100%;
	background-color:#000;
	filter:alpha(opacity=80); /* The darkness of the overlay 0 - 100 */
	-moz-opacity: 0.8;        /* The darkness of the overlay 0 - 100 */
	opacity: 0.8;             /* The darkness of the overlay 0 - 100 */
}

/* The entire window */
#TB_window {
	position: absolute;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	text-align:left;
}
#TB_window img {
	display:block;
	margin: 15px 0 0 15px;
}
/* Caption under images */
#TB_caption{
	padding:7px 0 10px 0;
	text-align: center;
	font-size: .85em;
	color: #444;
}
/* Line after the image caption */
#TB_secondLine {
	text-align: left;
	color: #666;
	padding: 5px 0 0 15px;
	float: left;
	font-size: .85em;
}
/* For the close link at bottom right of the window */
#TB_closeWindow{
	padding:0 25px 10px 0;
	float:right;
}
/* For the close link at top right of the window */
#TB_closeAjaxWindow{
	padding:0 10px 0 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
	font-size: .85em;
	padding-top: 5px;
}
#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}
#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}
#TB_load{
	position: absolute;
	display:none;
	height:100px;
	width:100px;
	z-index:101;
}
#TB_HideSelect{
	z-index:99;
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
#TB_iframeContent{
	border:none;
	clear:both;
}