* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   These styles make Opera for Windows display pages properly.
   +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

#tb-wrapper {
	font-size: 1.1em;
	}
#tb-sort .tb-submit{
	padding: 0 2px 2px 2px;
	}
.tb-next {
	padding: 0 14px 0 4px;
	height: 15px;
	}
.tb-prev {
	padding: 0 4px 0 14px;
	height: 15px;
	}
.tb-submit{
	padding-right: 5px;
	}